@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-logo{
    font-size: 24px;
    font-weight: 900;
    padding: 24px;
   
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;

}

a{
    text-decoration: none;
    color: white;
}